<h1>Editing Friend</h1>

<%= render 'form', friend: @friend %>
<div class="btn-group">
<%= link_to 'Show', @friend, class:"btn btn-secondary" %><%= link_to 'Back', friends_path, class:"btn btn-primary"%>
</div>